img[src*="000webhost"] {
    display: none;}
	
@font-face {
 font-family:casino_handregular;
 src:url(casino_hand-webfont.eot);
 src:url(casino_hand-webfont.eot?#iefix)format('embedded-opentype'),url(casino_hand-webfont.woff)format('woff'),url(casino_hand-webfont.ttf)format('truetype'),url(casino_hand-webfont.svg#casino_handregular)format('svg');
 font-weight:400;
 font-style:normal
}


.enjoy_hint_label{font-family:casino_handregular,Arial}